<a href="/books"</a>Book Index</a><br>
<a href="/stores"</a>Store Index</a>

<a href="/teams">Team Index</a>

<h1><%= @team.name %></h1>

<p>Total Wins: <%= @team.wins %></p>

<p>Make Playoffs? <%= @team.make_playoffs %></p>

<a href="/teams/<%= @team.id %>/edit">Edit</a>
