<a href="/stores">Store Info</a>

<h1><%= @store.name %></h1>

<p>Inventory: <%= @store.inventory %></p>

<p>Open on weekends: <%= @store.open_on_weekends %></p>

<a href="/stores/<%= @store.id %>/edit">Edit</a>
