<div class="jumbotron">
  <h1 class="display-4">Welcome to Books & Basketball!</h1>
  <p class="lead">This is where you will be able to add and find information regarding books and thier stores as well as basketball players and their teams.</p>
  <hr class="my-4">
  <p>Here are the links:
  <ul>
    <li><h3><a href="/stores" class="badge badge-secondary">Book Stores</a></h3></li><br><br>

    <li><h3><a href="/teams" class="badge badge-secondary">Basketball Teams</a></h3></li><br><br>
  </ul>
  <!-- </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p> -->
</div>
