<h1>Welcome to Books & Basketball</h1>

<ul>
  <li><a href="/stores">Book Stores</a></li>
  <li><a href="/stores/new">New Store</a></li>
</ul>

<ul>
  <li><a href="/teams">Basketball Info</a></li>
  <li><a href="/teams/new">New Info</a></li>
</ul>
