<h1><span class="badge badge-info">Welcome to Books & Basketball</span></h1><br>

<ul>
  <li><h3><a href="/stores" class="badge badge-secondary">Book Stores</a></h3></li><br><br>

  <li><h3><a href="/teams" class="badge badge-secondary">Basketball Teams</a></h3></li><br><br>
</ul>
