<h1>Welcome to Books & Basketball</h1>

<ul>
  <li><a href="/stores">Book Stores</a></li><br>
  <li><a href="/books">Book Info</a></li>
</ul>

<ul>
  <li><a href="/teams">Basketball Teams</a></li><br>
  <li><a href="/players">Player Info</a></li>
</ul>
