<a href="/books"</a>Book Index</a><br>
<a href="/stores"</a>Store Index</a><br>
<a href="/teams"</a>Team Index</a><br>
<a href="/players"</a>Players Index</a><br>

<form action="/books" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a book title:</p>
  <input type='text' name='book[title]'/><br/>
  <p>Enter a price:</p>
  <input type='float' name='book[price]'/><br/>
  <p>Kids friendly:</p>
  <input type="checkbox" name="book[kids_friendly]"/><br/>
  <input type='submit'/>
</form>
