<a href="/players">Player Index</a>

<h1><%= @player.name %></h1>

<p>Number: <%= @player.number %></p>
<p>Are they injured?: <%= @player.injured %></p>

<a href="/players/<%= @player.id %>/edit">Edit</a>
